
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-300.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}

* { 
  box-sizing: border-box; 
}



a {
  text-decoration: none; 
}

ul {
  margin: 0;
  padding: 0; 
  list-style: none; 
}

img {
  max-width: 100%; 
}

html {
  font-family: 'Open-sans', sans-serif;
}

.container {
  max-width: 1200px; 
} 

.btn {
  display: inline-block;
  padding: 15px 30px; 
  font-size: 16px;
  line-height: 1; 
  font-weight: 600px;
  color: white;
  background-color: #3171b9;
  border-radius: 4px;
  transition: background-color .3s ease;
  cursor: pointer; 
}

.btn:hover {
  background-color: blue;
}

.btn:active {
  transform: translateY(1px);
}

.text-center {
  text-align: center;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
  color: #414141;
}

.section-description {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #787878;
}

/* Header */

.header {
  height: 110px; 
  border-bottom: 1px solid #e4e4e4;
}

.header-container {
  display: flex; 
  align-items: center; 
  height: 100%;
}

.logo {
  margin-right: auto;
}

.logo:focus {
  outline: 3px solid rgba(0, 0, 255, .5);
}


.nav-list {
  display: flex; 
}

.nav-item {
  font-size: 15px;
  line-height: 1;
}

.nav-item:hover {
  outline-style: 3px solid rgba(0, 0, 255, .5);
}

.nav-item:not(:last-child) { 
  margin-right: 50px; 
}

.nav-link {
  font-size: 15px;
  line-height: 1;
  color: #1c1c1c;
  transition: color .3s ease;
}

.nav-link:hover {
  color: #3172b9;
}

.nav-link.is-active .nav-link {
  color: #3172b9;
}

.header-btn {
  margin-left: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

/* Hero */
.section-hero {
  padding-top: 120px;
  padding-bottom: 130px;
  background: url(./img/first-bg\ 1.jpg) right center no-repeat white; 
  background-size: cover;
}

.secction-hero__heading {
  margin-bottom: 0px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  color: #1c1c1c;
}

.secction-hero__action {
  display: inline-block;
}

.secction-hero__description {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 25px;
  color: #787878;
}

.secction-hero__description_alert {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 25px;
  color: red;
}


.secction-hero__btn-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #787878;
}

.secction-hero__ssl-icon {
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-right: 10px;
  background: url(./img/Shield-icon.svg) center center no-repeat transparent;
  background-size: contain;
  transform: translateY(-1px);
}

/*what we do */
.section-do {
  padding-top: 140px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e4e4e4;
  
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  margin-top: 50px;  
}

.section-do-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  color: #1c1c1c;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition-property: backround-color, color;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.section-do-item:hover {
  color: white;
  background-color: #3172b9;
  cursor: pointer;
}

.section-do-item:hover .section-do-item-description {
 color: white;
}

.section-do-item:hover .section-do-icon path {
  fill:white
}

.section-do-item path {
  transition-property: backround-color, color;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.section-do-item-heading {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.section-do-item-description {
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  color: #787878;
  transition-property: backround-color, color;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.section-do-icon {
  margin-bottom: 30px;
}

/* Clients */
.section-clients {
  padding-top: 90px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e4e4e4;
}

.section-clients-heading {
  margin-bottom: 45px; 
}

.section-class-col {
  display: flex;
}

.section-clients-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 35px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.section-clients-testimonial {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
}

.section-clients-user {
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #e9e9c9;
}

.section-clients-avatar {
  width: 60px;
  height: 60px;
  margin-right: 17px;
  border: 2px solid #3172b9;
  border-radius: 50%;
}

.section-clients-username {
  font-style: 17px;
  line-height: 25px;
  font-weight: 600;
  color: #1c1c1c;

}

.section-clients-user-description {
  font-style: 14px;
  line-height: 25px;
  color: #787878;
}

/* Contacts us*/
.section-contacts {
  padding-top: 85px;
  padding-bottom: 95px;
  border-bottom: 1px solid #e4e4e4;
}

.section-contacts__heading {
  margin-bottom: 120px;
}

.section-contacts-list {
  display: flex;
  margin-top: 43px;
}

.section-contacts-info {
  max-width: 250px;
}

.section-contacts-icon {
  display: block;
  height: 26px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-item-gps {
  background-image: url('./img/Vector.svg');
}

.section-contacts-item-phone {
  background-image: url('./img/Vector-2.svg');
}

.section-contacts-item-mail {
  background-image: url('./img/Vector-3.svg');
  background-size: auto 19px;
}

.section-contacts-heading {
  display: block;
  margin-bottom: 40px;
  font-style: 17px;
  line-height: 1;
  color: #1c1c1c;
}

.section-contacts-info {
  font-style: 14px;
  line-height: 25px;
  color: #787878;
}

.section-contacts-link {
  color: #787878;
}

/* Form */
.section-form {
 padding-top: 120px;
 padding-bottom: 120px;
}

.form-title {
  margin: 0;
  text-align: center;
  font-size: 36px;
  line-height: 21px;
  font-weight: 300;
  color: #787878;
}

.form-dscr {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #787878;
}

.form {
  display: flex;
  justify-content: space-between;
}

.input, 
.btn-submit {
  flex: 0 0 calc(25% - 15px);
  height: 60px;
  border-radius: 30px;
}

.btn-submit {
  border: transparent;
}

input {
  padding: 0 30px;
  border: 1px solid #dadada;
  border-radius: 30px;
}

.input::placeholder {
  color: #787878;
}

/* footer */
.footer {
  height: 125px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-left, .footer-right {
  display: flex;
  align-items: center; 
}

.footer-nav {
  margin-right: 55px;
}

.footer-logo {
  margin-right: 25px;
}

.footer-copyrights {
  font-size: 12px;
  line-height: 17px;
  color: #787878;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item {
  font-size: 14px;
  line-height: 1;
}

.footer-nav-link {
  color: #787878;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}

.footer-social-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}

.footer-social-icon-twitter {
  width: 18px;
  height: 15px;
  background-image: url(./img/twitter.svg);
}

.footer-social-icon-in {
  width: 18px;
  height: 19px;
  background-image: url(./img/Linkedin.svg);
  transform: translateY(-2px);
}

.footer-social-icon-mail {
  width: 24px;
  height: 17px;
  background-image: url(./img/Email.svg);
}



